/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white
}

* {
    margin: 0;
    padding: 0;
}

/* header section */
/* navbar starts here */
.header {
    background: linear-gradient(to top, #000000, #383838, #080808);
    width: auto;
}

.nav-bar {

    padding: 40px 60px 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-name h3 {
    color: #e35637;
    font-style: italic;
    font-size: 1.75rem;
}

.header-menu {
    border: 1px solid rgba(243, 236, 236, 0.2);
    border-radius: 20px;
    width: 40%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    padding-right: 10px;
}

.header-menu a {
    text-decoration: none;
    color: white;
    font-size: 0.90rem;
}

.home-menu-design {
    background-color: #e35637;
    border-radius: 20px;
    height: 100%;
    width: 20%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ham-menu {
    display: none;
}

/* hero section start */
.hero-section {
    display: flex;
    padding: 20px 60px 0 60px;
}

.hero-text {
    width: 50%;
    align-content: center;
}

.hero-text h1 {

    position: relative;
    /* font-size: 50px; */
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.hero-text .shape {
    font-family: 'Miama', sans-serif;
    font-size: 8rem;
    font-weight: 200;
    position: absolute;
    left: 10px;
    top: 45px;

}

.hero-text .stay {
    margin-left: 200px;
}

.hero-text p {
    font-size: small;
    opacity: 0.6;
}

.club-btn {
    background-color: #e35637;
    border-radius: 20px;
    padding: 10px;
    width: 180px;
    color: white;
    border: none;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
}

.app-btn {
    background: none;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px;
    width: 180px;
    margin-top: 20px;
    margin-left: 5px;
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
}

.hero-image {

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-image p {
    font-size: small;
    opacity: 0.6;
}

.work-vid {

    position: absolute;
    top: 150px;
    right: 50px;
    background: rgba(67, 66, 66, 0.7);
    border-radius: 10px;
    padding: 10px;
}

.vid-tutorial {

    position: absolute;
    bottom: 70px;
    left: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    background: rgba(67, 66, 66, 0.7);
    border-radius: 10px;
    padding: 10px;
}

.vid-tutorial .circle {
    background-color: #e35637;
    border-radius: 50%;
    height: 30px;
    width: 30px;

}

/* change habit section */
.change-habit {
    background-color: #000000;
    padding-top: 50px;

}

.habit-text {
    text-align: center;
}

.habit-text h2 {
    font-size: 3rem;
}

.pic-habit {
    padding: 40px 60px 0 60px;
    display: flex;
    gap: 10px;
}

.pic-1,
.pic-2,
.pic-3,
.pic-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pics-1 {
    background-image: url("../images/image\ 3.png");
    background-size: cover;
    text-align: center;
    border: 2px solid #383838;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.pics-2 {
    background-image: url("../images/image\ 2.png");
    background-size: cover;
    text-align: center;
    border: 2px solid #383838;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.pics-3 {
    background-image: url("../images/image\ 4.png");
    background-size: cover;
    text-align: center;
    border: 2px solid #383838;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.pics-4 {
    background-image: url("../images/image\ 5.png");
    background-size: cover;
    text-align: center;
    border: 2px solid #383838;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.pic-text {
    margin-top: 20px;
    text-align: center;
}

.change-habit p {
    font-size: small;
    opacity: 0.6;
}

/* extra run section */
.extra-run {
    background-color: #000000;
    padding: 80px 60px 0 60px;
}

.extra-run-content {
    background-color: #222222;
    display: flex;
    border-radius: 15px;
    gap: 300px;
    padding: 20px;
}

.extra-run-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.extra-run-content-text h2 {
    font-size: 3rem;
    font-weight: bolder;
}

.extra-run-content-text p {
    font-size: small;
    opacity: 0.6;
}

.extra-run-content-text button {
    height: auto;
    background-color: #e35637;
    border-radius: 20px;
    padding: 10px;
    width: 180px;
    color: white;
    border: none;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
}

.extra-run-content-pic img {
    width: 400px;
    height: 300px;
    border-radius: 15px;
}

/* training and exercise */
.training-exercise {
    background-color: #000000;
    padding: 80px 60px 0 60px;
}

.training {
    margin-bottom: 50px;
}

.training h2 {
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.training p {
    font-size: small;
    opacity: 0.6;
    margin-bottom: 10px;
}

.exercise {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, 200px);
}

.ex-pic-1 {
    grid-column: 1/ span 1;
    grid-row: 1/span 1;
    background-image: url("../images/exercise1re.jpg");
    background-size: cover;
    background-color: rgba(70, 201, 175, 0.7);
    background-blend-mode: overlay;
    align-content: end;
}

.ex-pic-1 p {
    color: black;
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 10px;
}

.ex-pic-2 {
    grid-column: 2/span 3;
    grid-row: 1/span 1;
    background-image: url("../images/exercise2re.png");
    background-size: cover;
    background-color: rgba(102, 24, 22, 0.6);
    background-blend-mode: overlay;

}

.ex-pic-2 p {
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
}

.ex-pic-3 {
    grid-column: 5/span 1;
    grid-row: 1/span 1;
    background-image: url("../images/exercise3res.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(79, 78, 76, 1);
    background-blend-mode: overlay;
    position: relative;
}

.ex-pic-3 p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.7rem;
}

.ex-pic-4 {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    background-image: url("../images/exercise4re.png");
    background-size: cover;
    background-color: rgba(25, 24, 22, 0.6);
    background-blend-mode: overlay;
    position: relative;
}

.ex-pic-4 p {
    position: absolute;
    font-size: 0.7rem;
    top: 10px;
    right: 10px;
}

.ex-pic-5 {
    grid-column: 3/span 1;
    grid-row: 2/span 1;
    background-image: url("../images/exercise5re.jpg");
    background-size: cover;
    background-color: rgba(99, 148, 20, 0.5);
    background-blend-mode: overlay;
    position: relative;
}

.ex-pic-5 p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.7rem;
}

.ex-pic-6 {
    grid-column: 4/span 2;
    grid-row: 2/span 1;
    background-image: url("../images/exercise6re.jpg");
    background-size: cover;
    background-color: rgba(71, 96, 164, 0.7);
    background-blend-mode: overlay;
    position: relative;
}

.ex-pic-6 p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.7rem;
}

/* BMI calculator */
.bmi-title {
    background-color: #000000;
    padding: 80px 60px 30px 200px;
}

.bmi-title h2 {
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.bmi-title p {
    font-size: small;
    opacity: 0.6;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1.5px solid #4c4c4c;
    padding: 10px;
}

th {
    text-align: left;
    font-size: 0.9rem;
    font-weight: 400;
}

td {
    opacity: 0.5;
    font-size: 0.8rem;
}

.chart-calculator {
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 60px;
    padding: 80px 60px 40px 60px;
}

.chart h3 {
    padding-bottom: 20px;
}

.calculator-title {
    padding-bottom: 10px;
}

.calculator-title h3 {
    padding-bottom: 10px;
}

.calculator-title p {
    font-size: small;
    opacity: 0.6;
    margin-bottom: 10px;
}

.calculator-input-box {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    padding-bottom: 20px;
}

input,
select {
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.calculator-input-box select:nth-child(5) {
    grid-column: span 2;
}

.calculator-btn button {
    padding: 10px;
    border-radius: 20px;
    width: 20%;
    background-color: #e35637;
    color: white;
    border: none;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
}

input::placeholder,
select {
    color: #b0b0b0;
}

/* meet our team section */
.meet-team-title {
    background-color: #000000;
    padding: 80px 60px 10px 60px;
    text-align: center;
}

.meet-team-title h2 {
    font-size: 3rem;
    font-weight: bolder;
}

.meet-team-title p {
    font-size: small;
    opacity: 0.6;
    margin-bottom: 10px;
}

.meet-team-trainers {
    background-color: #000000;
    padding: 20px 120px 40px 120px;
}

.individual-trainer {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgb(25, 25, 25);
    border-radius: 15px;
}

.individual-trainer img {
    height: 230px;
    width: 100%;
    border-radius: 15px;
}

.image-container {
    position: relative;
}

.trainer-name {
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.trainer-name p {
    font-size: small;
    opacity: 0.7;
}

/* Schedule and Counseling Hour Section */
.schedule-and-counseling {
    padding: 20px 120px 40px 120px;
    background-color: #000000;
}

.schedule-counseling-title h2 {
    text-align: center;
    font-size: 3rem;
    margin: 20px;
    margin-top: 0;
}

.schedule-counseling {
    background-color: #222222;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

.schedule-counseling h3 {
    text-align: center;
    margin: 15px;
}

.schedule td {
    text-align: center;
}

.schedule p {
    font-size: small;
    opacity: 0.7;
    margin: 15px;
    margin-left: 0;
}

.counseling p {
    font-size: small;
    opacity: 0.7;
    margin: 10px;
    margin-left: 0;
}

.schedule button,
.counseling button {
    padding: 10px;
    border-radius: 15px;
    background-color: #e35637;
    color: white;
    border: none;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
}

/* Footer section */
footer {
    background-color: #222222;
}

.footer-body {
    display: flex;
    padding: 60px 60px 20px 60px;
    justify-content: space-between;
}

.fitness {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.fitness h1 {
    color: #e35637;
    font-style: italic;
    font-size: 4rem;
    margin-bottom: 10px;
}

.fitness p {
    font-size: small;
    opacity: 0.6;
}

.get-started h3 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.get-started p {
    font-size: 1.2rem;
    opacity: 0.6;
    margin-bottom: 10px;
}

.straight-line {
    margin: 0 60px 20px 60px;
    height: 1px;
    background-color: #3a3a3a;
}

.footer-foot {
    text-align: center;
    padding-bottom: 40px;
    font-size: 1.05rem;
    opacity: 0.6;
    font-weight: 300;
}

/* responsive for mobile */
@media screen and (max-width:576px) {

    /* header */
    /* nav-bar */
    .header {
        width: auto;
        padding: 20px;
        padding-bottom: 0;
    }

    .nav-bar {
        padding: 0;
    }

    .header-menu {
        display: none;
    }

    .ham-menu {
        display: block;
    }

    /* hero */
    .hero-section {
        padding: 0;
        flex-direction: column;
        width: auto;
    }

    .hero-text {
        width: auto;
        margin-top: 30px;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text .shape {
        top: 10px;
        font-size: 70px;
    }

    .hero-text .stay {
        margin-left: 113px;
    }

    .hero-text>p {
        width: 100%;
        text-align: justify;
        font-size: 1rem;
    }

    .hero-text .btn {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

    }

    .app-btn {
        width: 50%;
        font-size: 0.9rem;
        height: 60px;
    }

    .club-btn {
        width: 50%;
        font-size: 0.9rem;
        height: 60px;
    }

    .hero-image {
        width: auto;
        margin-top: 10px;

    }

    .hero-image img {
        width: 300px;
        height: 600px;
    }

    .work-vid {
        top: 40px;
        right: 0;
        width: 100px;
        height: 50px;
        align-content: center;

    }

    .work-vid h1 {
        font-size: 1.2rem;
    }

    .work-vid p {
        font-size: 0.6rem;
    }

    .vid-tutorial {

        top: 260px;
        left: 10px;
        width: 100px;
        height: 50px;
        align-content: center;
    }

    .vid-tutorial h1 {
        font-size: 1.2rem;
    }

    .vid-tutorial p {
        font-size: 0.6rem;
    }

    .vid-tutorial .circle {
        width: 25px;
        height: 25px;
    }

    /* Body */
    /* habit */
    .change-habit {
        width: auto;
    }

    .habit-text h2 {
        font-size: 2rem;
    }

    .pic-habit {
        flex-direction: column;
        gap: 50px;
    }

    .habit-text p {
        padding: 10px;
    }

    /* extra run section */
    .extra-run {
        padding: 20px 20px 0 20px;
    }

    .extra-run-content {
        flex-direction: column;
        gap: 20px;
    }

    .extra-run-content-text {
        gap: 10px;
    }

    .extra-run-content-text h2 {
        font-size: 2rem;
    }

    .extra-run-content-text button {
        width: 100%;
    }

    .extra-run-content-pic img {
        height: 100%;
        width: 100%;
    }

    /* training and exercise */

    .training-exercise {
        padding: 20px 20px 0 20px;
    }

    .training h2 {
        font-size: 2rem;
    }

    .training p br {
        display: none;
    }

    .exercise {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 100px);
    }

    .ex-pic-6 {
        display: none;
    }

    .ex-pic-3 {
        display: none;
    }

    .ex-pic-1 {
        grid-column-start: 1;
        grid-column-end: 4;
        background-position: 90%;
    }

    .ex-pic-1 p {
        font-size: 0.4rem;
    }

    .ex-pic-2 {
        background-image: url("../images/exercise2resize.png");
        background-size: cover;
        background-position: 90%;
        background-repeat: no-repeat;
        grid-column-start: 4;
        grid-column-end: 6;

    }

    .ex-pic-2 p {
        font-size: 0.4rem;
    }

    .ex-pic-4 {
        grid-column-start: 1;
        grid-column-end: 3;
        background-position: 50%;
    }

    .ex-pic-4 p {
        font-size: 0.4rem;
        margin-top: 63px;
        margin-right: 25px;
    }

    .ex-pic-5 {
        grid-column-start: 3;
        grid-column-end: 6;
    }

    .ex-pic-5 p {
        font-size: 0.4rem;
    }

    /* BMI Calculator */
    .BMI-calculator br {
        display: none;
    }

    .bmi-title {
        padding: 20px 20px 20px 20px;
    }

    .bmi-title h2 {
        font-size: 2rem;
    }

    table {
        width: 90%;
    }

    .chart-calculator {
        padding: 20px 20px 20px 20px;
        display: flex;
        flex-direction: column;
    }

    .calculator-input-box {
        width: 100%;
    }

    .calculator-btn button {
        width: 60%;
    }

    /* Meet our team */
    .meet-team-title {
        background-color: #000000;
        padding: 20px;
        text-align: center;
    }

    .meet-team-title h2 {
        font-size: 2rem;
        font-weight: bolder;
        margin-bottom: 10px;
    }

    .meet-team-title p {
        font-size: small;
        opacity: 0.6;

    }

    .meet-team-trainers {
        background-color: #000000;
        padding: 10px 20px 20px 20px;
    }

    .individual-trainer {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        background-color: rgb(25, 25, 25);
        border-radius: 15px;
    }

    .sp-1 {
        grid-row-start: 3;
    }

    .sp-2 {
        grid-row-start: 2;
    }

    .individual-trainer img {
        width: 100%;
        border-radius: 15px;
    }

    .image-container {
        position: relative;
    }

    .special {
        display: none;
    }

    .trainer-name {
        position: absolute;
        bottom: 25px;
        left: 15px;
    }

    .trainer-name p {
        font-size: small;
        opacity: 0.7;
    }

    /* Schedule and Counseling Hour section */
    .schedule-and-counseling {
        margin: 0;
        padding: 0;
        padding-bottom: 20px;

    }

    .schedule-counseling-title h2 {
        font-size: 2rem;
    }

    .schedule-counseling {
        flex-direction: column;
        border-radius: 0;
    }

    .schedule {
        margin: 0;
        padding: 0;
        width: auto;
    }

    .schedule table {
        width: 100%;
    }

    .schedule td,
    .schedule th {
        /* border: none; */
        padding: 0;
        margin: 0;
        font-size: 0.58rem;

    }

    .schedule button {
        border: 2px solid red;
        padding: 10px;
        border-radius: 15px;
        background-color: #e35637;
        color: white;
        border: none;
        font-weight: 500;
        font-family: "Work Sans", sans-serif;
        font-size: 0.7rem;
    }

    /* Footer section */
    footer {
        padding: 10px 20px 10px 20px;
    }

    .footer-body {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .fitness {
        width: 100%;
        padding-bottom: 10px;
    }

    .straight-line {
        margin: 40px 0 20px 0;
        padding: 0;
    }

    .footer-foot {
        padding: 0;
        margin: 0;
        text-align: left;
    }
}